<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="OFF">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" class="form-control" placeholder="Full name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{ employee.fullNameError }}
        </div>
    </div>
    <div class=" form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" value="{{employee.email}}">
        <div class="text-danger">
            {{ employee.emailError }}
        </div>
    </div>
    <div class=" form-row">
        <div class="form-group col-md-6">
            <label for="Mobile">Mobile Number</label>
            <input type="number" name="mobile" class="form-control" placeholder="Mobile number"
                value="{{employee.mobile}}">
        </div>
        <div class=" form-group col-md-6">
            <label for="City">Full Name</label>
            <input type="text" name="city" class="form-control" placeholder="City" value="{{employee.city}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/employee/list" class="btn btn-secondary"><i class="fa fa-list-alt"></i>View all</a>
    </div>
</form>